body:after {
  content: "";
  position: fixed;
  right: 24px;
  bottom: 18px;
  width: 260px;
  height: 260px;
  background: url("./movas.png") center / contain no-repeat;
  opacity: 0.38;
  filter: drop-shadow(0 0 18px #19ffd0);
  pointer-events: none;
  z-index: 999999;
}
